<!Doctype html>
  <html>
    <head>
        <link rel="stylesheet" href="/static/style.css"/>
        <title>Groupie-tracker</title>
    </head>

    <body>
        <section class="hero">
            <div class="hero-blob">
                <div class="blob">
        <svg viewBox="0 0 1500 700" width="100%" height="100%"  preserveAspectRatio="none">
            <path class="blob-path" d="M 980 0 Q 1250 40 1180 180 Q 1100 280 1220 360 Q 1350 430 1120 520 Q 900 610 1020 700 L 1500 700 L 1500 0 Z"/>
        </svg>
     </div>
            </div>
            <div class="hero-banners">
               <img src ="/static/images/guitar.svg" alt="a boy with guitar" class="banner-img"/>
               <div class="banner-text">
                  <h1>TRACK YOUR ARTIST</h1>
                  <a href="
                  /artists" class="btn">Check out</a>
               </div>
            </div>
        </section>
    </body>
  </html>

