* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    --bg: #0F172A;
    --text-color: #F8FAFC;
    --blob-main: #6D28D9;
    --blob-accent: #9333EA;
}

body {
    background: var(--bg);
    color: var(--text-color);
    font-family: sans-serif;
}


nav {
    position: sticky;
    top:0;
    z-index: 1000;
}


.navbar {
    margin: 20px 100px 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b4b3b32e;
    color: #fff;
    font-size: 24px;
    border-radius: 60px;
    backdrop-filter: blur(150px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
}



.logo {
    font-family: "Great Vibes", cursive;
    font-size: 40px;
}

.tracker {
    color: rgba(206, 128, 32, 0.867);
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    list-style: none;
}

a{
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    transition: color 0.3s ease;
}

a:hover{
    color:#804e04;
}


.hero {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    
}

.hero::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    left: 150px;
    top: 50px;
    background: var(--blob-accent);
    border-radius: 50%;
    filter: blur(150px);
    opacity: 0.6;
    z-index: 1;
    animation: pulse 6s ease-in-out infinite;
}


.hero-text h1 {
    font-size: 100px;
}

.hero-text p {
    margin-top: 20px;
    font-size: 24px;
}


.hero-image {
    position: relative;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, #768379 10%, #804e04 40%);
    border-radius: 50%;
    border: 1px solid rgb(82, 57, 32);
}



.hero-banner {
    animation: autoRotate 5s linear infinite;
}


main{
   max-width:1200px;
   margin:0 auto;
   padding: 20px;
}

.list{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 20px;
}

.list h3{
    font-size:30px;
}

.artist-grid {

  display: grid;
  place-items:center;
  grid-template-columns: repeat(auto-fit, 350px);
  gap:24px;
}

.grid-card{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width:300px;
}



@keyframes autoRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@keyframes pulse {
    0%, 100% {
        opacity: .18;
        transform: translate(0, -20%) scale(1); 
    }
    50% {
        opacity: .35;
        transform: translate(0, 15%) scale(1.05); 
    }
    75% {
        opacity: .7;
        transform: translate(30%, 0) scale(1.05); 
    }
}