
*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}


:root{
     --bg:#0F172A;
    --text-color:#F8FAFC;
    --blob-main:#6D28D9;
    --blob-accent:#9333EA;
}
 

body{
    font-family: "Poppins", sans-serif;
    background:var(--bg);
    color:var(--text-color);
}

.hero{
    position:relative;
    width:100%;
    height:100vh;
    overflow: hidden;
}

.hero::before{
    content:"";
    position:absolute;
    width:500px;
    height:500px;
    left:150px;
    top:50px;
    background:var(--blob-accent);
    border-radius:50%;
    filter:blur(150px);
    opacity:0.6; 
    z-index:1;
}

.hero-blob{
    position:absolute;
    z-index:0;
    inset:0;
    pointer-events: none;
}

.blob{
  position: absolute;
  inset: 0;
  width:100%;
  height:100%;
}

.blob-path{
    fill:var(--blob-main);
}

.hero-banners{
  position: relative;
  z-index: 2;
  padding:100px 60px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:100vh
}
.banner-img{
    width:800px;
    height:900px;
    pointer-events: none;

}

.banner-text h1{
    font-size:100px;
    margin-bottom:10px;
}

.btn{
    text-decoration: none;
    display:inline-block;
    background:linear-gradient(135deg,#7C3AED,#9333EA);
    color:#F8FAFC;
    padding:20px 32px;
    border:none;
    border-radius:50px;
    font-size:24px;
    font-weight:600;
    cursor:pointer;
    transition:all 0.4s ease;
    box-shadow:0 10px 25px rgba(124,58,237,.35);
}

.btn:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 40px rgba(147,51,234,.45);
    filter:brightness(1.1);
}


@media screen and (max-width:1300px){
   
   .hero-banners{
      flex-direction:column;
      text-align:center;
      justify-content:center;
      align-items:end;
   }

   .btn{
    padding:20px 40px;
    font-size:40px;
    border-radius:40px;
   }

   .banner-text h1{
    font-size:60px;
    margin-bottom:10px;
}

.hero-banners{
  padding:2px 2px;
  display:flex;
  align-items:center;
}

.banner-img{
   width:800px;
    height:600px;
}
}


@media screen and (max-width:600px){
   .btn{
    padding:20px 30px;
    font-size:30px;
   }
   .banner-text h1{
    margin-top:20px;
    font-size:40px;
   }
    .hero-banners{
    display:flex;
    align-items:center;
    }
    .banner-img{
    width:600px;
    height:500px;
    }
}
