*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}


:root{
    --bg:#0F172A;
    --text-color:#F8FAFC;
}
 

body{
    font-family: "Poppins", sans-serif;
    background:var(--bg);
    color:var(--text-color);
}

.hero{
    position:relative;
    width:100%;
    height:100vh
}

.hero-blob{
    position:absolute;
    z-index:0;
    inset:0;
}

.blob{
  height:100%;
  width:100%;
  clip-path:path('M 1200 0 Q 900 300 600 500 Q 400 600 300 700 Q 200 800 400 1000 V1200 H0 Z');
  background:red; 
}

.hero-banners{
  padding:100px 60px;
  display:flex;
  justify-content:space-around;
  align-items:center;

}
.banner-img{
    width:60vw;
    height:70vh
}

.banner-text h1{
    font-size:100px;
    margin-bottom:40px;
}

.btn{
    border-radius:50px;
    background:gold;
    padding:20px 30px;
    border-radius:50px;
    border:transparent;
    font-size:24px;
    transition:transform 0.7s ease-in-out;
}

.banner-text .btn a{
    color:#222;
    font-weight:600;
    text-decoration:none;
}
.btn:hover a{
    color:#fff;

}
.btn:hover{
    /* padding:50px; */
    transform:translateY(-10px);
    box-shadow:0px 4px 10px rgba(229, 199, 27, 0.94);
}



