<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/artists.css"/>
        <title>artists page</title>
    </head>
    <body>
        <nav >
           <div class="navbar">
             <a class="logo">Groupie <span class="tracker">tracker</span></a>
            <ul class="links">
                <li><a href="#artists">artists</a></li>
                <li><a href="#tour">tour</a></li>
                <li><a href="#location">location</a></li>
               
            </ul>
            <div>
                <a>About</a>
            </div>
           </div>
        </nav>
        <section class="hero">
            <div class="hero-text">
                <h1>Every band. <br>Every <span class="tracker">sound.</span></h1>
                <p>Browse artists trace their tours across the globe, and dive deep into the <br>music that <span class="tracker">shaped generations.</span></p>
            </div>
            <div class="hero-image">
                <img src="/static/images/compass.svg" class="hero-banner">
            </div>
        </section>
        <article>
            <!-- find an artist -->
        </article>
        <main>
            <div class="list">
                <h3>{{.TotalArtists}} artists</h3>
                <p>Page {{.PageNo}} of {{.TotalPages}}</p>
            </div>
            
            <div class="artist-grid">
                {{range .Artists}}
                <div class="grid-card">
                    <img src={{.Image}} alt={{.Name}} class="artist-image">
                    <p>{{.Name}}</p>
                    <p>Est. {{.CreationDate}} </p>
                </div>
                {{end}}
            </div>
        </main>
        <div class="pagination">
            <div class="pages">
                <a href="/artists?page={{.PrevPage}}" class="page">Prev</a>
                {{range .Pages}}
                <a href="/artists?page={{.}}" class="page">{{.}}</a> 
                {{end}}
                <a href="/artists?page={{.NextPage}}" class="page">Next</a>
            </div>
        </div>
    </body>
</html>

