<!Doctype html>
  <html>
    <head>
        <link rel="stylesheet" href="/static/style.css"/>
        <title>Groupir-tracker</title>
    </head>

    <body>
        <section class="hero">
            <div class="hero-blob">
                <div class="blob"></div>
            </div>
            <div class="hero-banners">
               <img src ="/static/images/guitar.svg" alt="a boy with guitar" class="banner-img"/>
               <div class="banner-text">
                  <h1>TRACK YOUR ARTIST</h1>
                  <button class="btn"><a href="#">Check out</a></button>
               </div>
            </div>
        </section>
    </body>
  </html>